@model IEnumerable<WEBDOGO.Models.GIOHANG>

@{
    ViewBag.Title = "showgiohang";
    Layout = "~/Views/Shared/_layouttrangchu.cshtml";

}

@section Styles {

    <link rel="stylesheet" href="@Url.Content("~/Content/giohang.css")?v=@DateTime.Now.Ticks">
}

<script src="~/Scripts/giohang.js" defer></script>

<div class="body1" style="margin-bottom: 100px">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 alltungsanpham">
                <div>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tổng Cộng</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (ViewBag.danhsachgiohang != null)
                            {
                                foreach (var item in ViewBag.danhsachgiohang)
                                {
                                    string newanhsanpham = item.sANPHAM.ANHSANPHAM.Replace("../IMG", "/IMG");
                                    <!--sanphamgiohang-->
                                    <tr>
                                        <th class="sanphamcon">
                                            <a href="@Url.Action("xoakhoigiohang", "User", new { idgiohang = item.gIOHANG.MAGIOHANG })" class="btnxoasanpham">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 xoasanpham">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                </svg>
                                            </a>
                                            <img src="@ViewBag.Severname/@newanhsanpham" alt="" class="anhsanphamtronggiohang">
                                            <p class="tensanphamtronggiohang">@item.sANPHAM.TENSANPHAM</p>
                                        </th>
                                        <td>
                                            <p class="giasanphamtronggiohang giatien">@item.sANPHAM.GIASANPHAM</p>
                                        </td>
                                        <td class="soluongsanphamtronggiohang">
                                            <button class="giam" id="giam" onclick="location.href='@Url.Action("nutthemsoluongsanphamlogin","User", new {id = item.gIOHANG.MAGIOHANG, loai = 1})'">
                                                <!-- Giảm -->
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                                                </svg>
                                            </button>

                                            <input type="text" class="textthemsoluong" id="textthemsoluong" value="@item.gIOHANG.SOLUONG">

                                            <button class="them" id="them" onclick="location.href='@Url.Action("nutthemsoluongsanphamlogin","User", new {id = item.gIOHANG.MAGIOHANG, loai = 0})'">
                                                <!-- Thêm -->
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                                </svg>
                                            </button>
                                        </td>
                                        <td class="tongcong">
                                            <p class="tongcongcuamoisanpham giatien" id="tongcongcuamoisanpham">@item.gIOHANG.TONGTIEN</p>
                                        </td>
                                    </tr>

                                    <!--end sanphamgiohang-->
                                }
                            }
                            else
                            {
                                foreach (var item in ViewBag.listsanphamnologin)
                                {
                                    string newanhsanpham = item.anhsanpham.Replace("../IMG", "/IMG");
                                    double tongtien = item.Price * (double)item.Quantity;
                                    <!--sanphamgiohang-->
                                    <tr>
                                        <th class="sanphamcon">
                                            <a href="@Url.Action("xoakhoigiohang", "User", new { idgiohang = item.ProductId })" class="btnxoasanpham">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 xoasanpham">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                </svg>
                                            </a>
                                            <img src="@ViewBag.Severname/@newanhsanpham" alt="" class="anhsanphamtronggiohang">
                                            <p class="tensanphamtronggiohang">@item.ProductName</p>
                                        </th>

                                        <td>
                                            <p class="giasanphamtronggiohang giatien">@item.Price</p>
                                        </td>

                                        <td class="soluongsanphamtronggiohang">
                                            <button class="giam" id="giam" onclick="location.href='@Url.Action("nutthemsoluongsanphamnologin","User", new {id = item.ProductId, loai = 1})'">
                                                <!-- Giảm -->
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                                                </svg>
                                            </button>

                                            <input type="text" class="textthemsoluong" id="textthemsoluong" value="@item.Quantity">

                                            <button class="them" id="them" onclick="location.href='@Url.Action("nutthemsoluongsanphamnologin","User", new {id = item.ProductId, loai = 0})'">
                                                <!-- Thêm -->
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                                </svg>
                                            </button>
                                        </td>
                                        <td class="tongcong">
                                            <p class="tongcongcuamoisanpham giatien" id="tongcongcuamoisanpham">@item.tongtien</p>
                                        </td>
                                    </tr>
                                    <!--end sanphamgiohang-->
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <button class="tieptucxemsanpham">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="next size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                    </svg>
                    <a href="@Url.Action("showsanpham", "TrangChu")">Tiếp Tục Xem Sản Phẩm</a>
                </button>
            </div>
            <div class="col-xl-4 phanbentongthanhtoan">
                <p class="nametongsoluong">Tổng số lượng</p>
                <div class="tongcongthanhtoan">
                    <p>Tổng cộng: </p>
                    @if (ViewBag.danhsachgiohang != null)
                    {
                        <p class="giatongcong1 giatien">@ViewBag.tongsotienbandau</p>
                    }
                    else
                    {
                        <p class="giatongcong1 giatien">@ViewBag.tongtien</p>
                    }
                </div>
                <div class="giaohang">
                    <p>Giao Hàng: </p>
                    <p class="tiengiaohang">Giao hàng miễn phí</p>
                </div>
                <div class="tongcongfullthanhtoan">
                    <p>Tổng số tiền cần thanh toán</p>
                    @if (ViewBag.danhsachgiohang != null)
                    {
                        <p class="tongsotiencanthanhtoancuaca2 giatien">@ViewBag.tongsotienbandau</p>
                    }
                    else
                    {
                        <p class="tongsotiencanthanhtoancuaca2 giatien">@ViewBag.tongtien</p>
                    }
                </div>
                @if (Session["taikhoan"] != null)
                {
                    <button class="tienhanhthanhtoan" onclick="location.href = '@Url.Action("thanhtoan", "User")'" ;>Thanh Toán</button>
                }
                else
                {
                    <button class="tienhanhthanhtoan" onclick="location.href = '@Url.Action("dangnhap", "User")'" ;>Thanh Toán</button>
                }
            </div>
        </div>
    </div>
</div>